.u-section-1 {background-image: url("images/zccc.jpg"); background-position: 50% 50%; min-height: 735px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 735px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 735px}
.u-section-1 .u-container-layout-2 {padding: 30px 40px}
.u-section-1 .u-text-1 {text-transform: uppercase; letter-spacing: 7px; font-size: 1.125rem; margin: 80px 0 0}
.u-section-1 .u-image-1 {width: 78px; height: 82px; margin: 13px auto 0 20px}
.u-section-1 .u-text-2 {font-size: 3rem; margin: -75px 70px 0 107px}
.u-section-1 .u-text-3 {font-size: 0.875rem; margin: 50px 0 0}
.u-section-1 .u-btn-1 {border-style: solid; font-size: 0.75rem; margin: 20px auto 0 0}
.u-section-1 .u-layout-cell-3 {min-height: 735px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-image-2 {object-position: 43.46% 100%; background-position: 43.46% 100%; width: 389px; height: 591px; margin: 114px -30px -30px auto} 

@media (max-width: 1199px){ .u-section-1 {min-height: 100px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 606px}
.u-section-1 .u-layout-cell-2 {min-height: 606px}
.u-section-1 .u-image-1 {margin-top: 5px; margin-left: -10px}
.u-section-1 .u-text-2 {width: auto; margin-top: -67px; margin-right: 22px; margin-left: 78px}
.u-section-1 .u-layout-cell-3 {min-height: 606px; background-position: 36.85% 50%}
.u-section-1 .u-image-2 {height: 385px; width: 253px; margin-top: 225px} }

@media (max-width: 991px){ .u-section-1 .u-layout-wrap-1 {margin-bottom: 3px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 764px}
.u-section-1 .u-layout-cell-2 {min-height: 764px}
.u-section-1 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-text-2 {font-size: 2.25rem; margin-top: -73px; margin-right: 106px; margin-left: 82px}
.u-section-1 .u-text-3 {margin-top: 48px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-container-layout-3 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-2 {object-position: 34.85% 100%; background-position: 34.85% 100%; height: 434px; margin-top: 300px; margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 767px){ .u-section-1 .u-layout-wrap-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 15px}
.u-section-1 .u-container-layout-1 {padding-top: 0; padding-bottom: 0}
.u-section-1 .u-layout-cell-2 {min-height: 490px}
.u-section-1 .u-image-1 {margin-top: 0; margin-left: -5px}
.u-section-1 .u-text-2 {margin-top: -68px}
.u-section-1 .u-container-layout-3 {padding-bottom: 0}
.u-section-1 .u-image-2 {object-position: 0% 0%; background-position: 0% 0%; margin-top: -30px; margin-bottom: 0; width: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-1 .u-layout-cell-1 {min-height: 9px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-text-2 {margin-top: -69px; margin-right: 142px; margin-left: 73px}
.u-section-1 .u-text-3 {width: auto; margin-top: 44px; margin-right: 13px} }.u-section-2 .u-sheet-1 {min-height: 300px}
.u-section-2 .u-group-1 {width: 800px; min-height: 170px; margin: 65px auto}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {margin: 0}
.u-section-2 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 247px}
.u-section-2 .u-group-1 {min-height: 140px; height: auto} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 189px}
.u-section-2 .u-group-1 {width: 720px; min-height: 107px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 142px}
.u-section-2 .u-group-1 {width: 540px; min-height: 80px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 89px}
.u-section-2 .u-group-1 {width: 340px; min-height: 50px} }